[Desktop Entry]
Encoding=UTF-8
Name=Link to http://csssprites.com/results/f414e27c997b8a369d65214b415c2648/result.png
Type=Link
URL=http://csssprites.com/results/f414e27c997b8a369d65214b415c2648/result.png
Icon=image-png
